.formulario {
    background-color: white;
    padding: 10px;

}

.lista-horizontal {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
}

li button {
    border-radius: 100%;
    width: 90%;
    height: 35px;
    border: none;
}

.diaH {
    margin-right: 15px;
}

.diaNH {
    margin-right: 15px;
}

.btn-dH {
    background: #f4a423;
    border-color: #f4a423;
}

.btn-dNH {
    background: #b4b4b4;
    border-color: #b4b4b4;
}
