<app-menu> </app-menu>

<div class="container-fluid">
  <div class="row container-title-header">
    <div class="col-md-8" align="start">
      <h5 class="title">Catálogos</h5>
    </div>

    <div class="col-md-4" align="end">
      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
        <input
          type="text"
          placeholder="Buscar"
          class="form-control"
          #input
          style="margin-right: 10px"
          autocomplete="off"
        />
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid container-padding">
    <div class="row">
      <div class="design col-md-12">
        <img src="../../../../assets/imgs/ImagenPortada_1.jpg" />
      </div>
    </div>
  </div> -->
</div>
