<div class="row">
  <div class="">
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
      <!-- Position Column -->
      <ng-container matColumnDef="element">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Elemento</th>
        <td
          mat-cell
          *matCellDef="let row"
          [matTooltip]="row.element.length > 50 ? row.element : ''"
        >
          {{ row.supplier }} -
          {{
            row.element.length > 50
              ? (row.element | slice : 0 : 50) + "..."
              : row.element
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Valor</th>

        <td mat-cell *matCellDef="let element">${{ element.cost | number }}</td>
      </ng-container>
      <ng-container matColumnDef="depreciation">
        <th mat-header-cell *matHeaderCellDef>Depreciación</th>

        <td mat-cell *matCellDef="let element">
          {{ element.depreciation }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity" *ngIf="mostrarCantidad()">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>

        <td mat-cell *matCellDef="let element">
          {{ element.quantity }}
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="text-align: end">
          Acciones
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: end">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="edit(element)"
              [disabled]="isStatusDisabled"
            >
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button
              mat-menu-item
              (click)="delete(element)"
              [disabled]="isStatusDisabled"
            >
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-cell" colspan="4">
          No hay datos para mostrar.
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      aria-label="Select page of users"
    >
    </mat-paginator>
  </div>
</div>

<div align="end">
  <button
    mat-raised-button
    class="guardar text-dark"
    style="margin-top: 10px"
    (click)="openDialog()"
    *ngIf="!isStatusDisabled"
  >
    Agregar elemento
  </button>
</div>
