<div class="container-fluid">
  <div class="row container-title-header">
    <div class="col-md-8" align="start">
      <h5 class="title">Catálogos</h5>
    </div>

    <div class="col-md-4" align="end">
      <div class="input-group mx-3">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
        <input type="text" placeholder="Buscar" class="form-control" (keyup)="applyFilter($event)" #input
          style="margin-right: 10px" />
      </div>
    </div>
  </div>


  <div class="container-fluid container-padding">
    <div class="row">
      <div class="design col-md-12 mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="disegnTable">
              Nombre
            </th>
            <td mat-cell *matCellDef="let row">
              <a [routerLink]="row.url" class="disegnRows" style="cursor: pointer">{{ row.name }}</a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data-cell" colspan="4">
              No hay datos que coincidan con "{{ input.value }}"
            </td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"
          class="disegnTable"></mat-paginator>
      </div>
    </div>
  </div>
</div>