<div mat-dialog-title class="container-title-modal">
  {{ data.salary ? "Actualizar" : "Agregar" }} concepto
</div>

<mat-dialog-content class="custom-dialog-content">
  <form class="mt-2" [formGroup]="conceptFormGroup">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <mat-form-field appearance="outline" class="matField">
          <mat-label>Concepto</mat-label>
          <mat-select
            formControlName="salaryBaseConceptId"
            [disableOptionCentering]="true"
          >
            <mat-option *ngFor="let item of filteredConcepts" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-error
            class="helper-text error"
            *ngIf="
              conceptFormGroup.controls['salaryBaseConceptId']?.hasError(
                'required'
              ) && conceptFormGroup.get('salaryBaseConceptId')?.touched
            "
          >
            * Este campo es requerido.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <mat-form-field
          class="form-group"
          appearance="outline"
          class="matField"
        >
          <mat-label matLabel class="mb-2">Valor</mat-label>
          <input
            matInput
            formControlName="value"
            type="text"
            prefix="$"
            mask="separator.2"
            thousandSeparator=","
            decimalMarker="."
            autocomplete="off"
          />
          <mat-error
            class="helper-text error"
            *ngIf="
              conceptFormGroup.controls['value']?.hasError('required') &&
              conceptFormGroup.get('value')?.touched
            "
          >
            * Este campo es requerido.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
  <button
    mat-raised-button
    class="cancelar text-dark"
    [mat-dialog-close]="false"
  >
    Cancelar
  </button>
  <button
    mat-raised-button
    class="guardar text-dark mx-3"
    (click)="save()"
    [disabled]="conceptFormGroup.invalid"
  >
    Guardar
  </button>
</mat-dialog-actions>
