<div class="container">
    <img src="assets/imgs/logoOmnitempus.jpeg" alt="Logo Omnitempus" class="logo-image">
    <mat-card class="login">
        <mat-card-header class="header">
            <mat-card-title class="title">Iniciar sesión</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">            
        </mat-card-content>
        <mat-card-actions class="actions-button">
            <button mat-raised-button (click)="login()">
                Iniciar sesión
            </button>
        </mat-card-actions>
    </mat-card>
</div>