<div class="container-title-header"></div>
<div class="container-fluid container-padding">
  <mat-stepper
    [linear]="isLinear"
    #stepper
    (selectionChange)="onStepChange($event)"
  >
    <mat-step
      [stepControl]="turnoformGroup"
      errorMessage="Los datos son requeridos."
    >
      <form class="down mt-3" [formGroup]="turnoformGroup">
        <div class="row">
          <ng-template matStepLabel>Información básica</ng-template>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field
              class="form-group"
              appearance="outline"
              class="matField"
            >
              <mat-label matLabel class="mb-2">Nombre</mat-label>
              <input
                matInput
                formControlName="name"
                type="text"
                maxlength="100"
                #name
                autocomplete="off"
                maxlength="100"
                required
              />
              <mat-error
                *ngIf="turnoformGroup.get('name')?.errors?.['required']"
              >
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field
              class="form-group"
              appearance="outline"
              class="matField"
            >
              <mat-label class="mb-2">¿Con festivo?</mat-label>
              <mat-select
                name="withFestive"
                formControlName="withFestive"
                [disableOptionCentering]="true"
                required
              >
                <mat-option [value]="true"> Si </mat-option>
                <mat-option [value]="false"> No </mat-option>
              </mat-select>
              <mat-error
                *ngIf="turnoformGroup.get('withFestive')?.errors?.['required']"
              >
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field
          class="form-group"
          appearance="outline"
          class="matField"
        >
          <mat-label matLabel>Descripción</mat-label>
          <textarea
            matInput
            formControlName="description"
            rows="4"
            maxLength="500"
            autocomplete="off"
          ></textarea>
          <mat-error
            *ngIf="turnoformGroup.get('description')?.errors?.['maxlength']"
          >
            Máximo 500 caracteres permitidos para la descripción.
          </mat-error>
        </mat-form-field>

        <div class="buttons">
          <mat-card-actions class="d-flex justify-content-end">
            <button
              mat-raised-button
              matStepperPrevious
              class="btnSize cancelar text-dark"
              (click)="goBack()"
            >
              Cancelar
            </button>
            <button
              mat-raised-button
              class="btnSize guardar text-dark mx-3"
              (click)="saveUpdateTurnos(true, 'guardar')"
              [disabled]="turnoformGroup.invalid"
            >
              Guardar
            </button>
            <button
              mat-raised-button
              class="btnSize cancelar text-dark"
              (click)="saveUpdateTurnos(false, 'siguiente')"
            >
              Siguiente
            </button>
          </mat-card-actions>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="shiftDetailsFormGroup" [editable]="isEditable">
      <app-horarios (dataLength)="dataLength($event)">
        <ng-template matStepLabel>Horarios</ng-template>
      </app-horarios>
    </mat-step>
    <mat-step
      [stepControl]="esquemaformGroup"
      errorMessage="Los datos son requeridos."
      [editable]="isEditable"
    >
      <app-esquema [lengthTableShift]="valueShift">
        <ng-template matStepLabel>Esquema</ng-template>
      </app-esquema>
    </mat-step>
  </mat-stepper>
</div>
