<!-- <div class="container">
    <div>
        <div class="d-flex align-items-center justify-content-between">
            <header class="mb-3">
                <h5 class="title">Incremento</h5>
            </header>
            <mat-icon class="mb-3 icon-close" (click)="closeModal()">close</mat-icon>
        </div> -->
<div mat-dialog-title class="container-title-modal"  [matTooltip]="elementName.length > 50 ? elementName : ''">
    Incremento - {{elementName.length > 50 ? (elementName | slice:0:50) + '...' : elementName}}
</div>

<mat-dialog-content class="custom-dialog-content my-3">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="updateDate">
                <th mat-header-cell *matHeaderCellDef> Fecha de actualización </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="row.updateDate; else noUpdateMessage">
                        {{ row.updateDate | date: 'dd/MM/yyyy'}} - {{ row.updateDate | date: 'HH:mm' }}
                    </ng-container>
                    <ng-template #noUpdateMessage>Sin actualización</ng-template>
                </td>
            </ng-container>
            <ng-container matColumnDef="percentage">
                <th mat-header-cell *matHeaderCellDef> Incremento </th>
                <td mat-cell *matCellDef="let row"> {{row.percentage ?? 0}}% </td>
            </ng-container>
            <ng-container matColumnDef="lastUnitPrice">
                <th mat-header-cell *matHeaderCellDef> Valor anterior </th>
                <td mat-cell *matCellDef="let row" prefix="$" type="text" mask="separator.2" thousandSeparator=","
                    decimalMarker="."> {{'$' + formatUnitPrice(row.lastUnitPrice ?? 0)}} </td>
            </ng-container>
            <ng-container matColumnDef="currentPrice">
                <th mat-header-cell *matHeaderCellDef> Valor actual </th>
                <td mat-cell *matCellDef="let row" prefix="$" type="text" mask="separator.2" thousandSeparator=","
                    decimalMarker="."> {{'$' + formatUnitPrice(row.currentPrice ?? 0)}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell no-data-cell" colspan="4"> No hay datos para mostrar.</td>
            </tr>
        </table>
        <mat-paginator [length]="incrementList" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
    <button mat-raised-button class="button-primary text-dark mx-3" (click)="closeModal()">Aceptar</button>
</mat-dialog-actions>